@import "tailwindcss";

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  /* max-width: 1400px; */
  /* width: 100%; */
  /* margin: 3px; */
  /* background: white; */
}
